body {
	background-color: black;
	color: white;
}
a {
	color: white;
}
table.floatThead-table {
	border-top: none;
	border-bottom: none;
	background-color: black;
}
div.persona-compendium {
	width: 1000px;
	margin: auto;
}
div.persona-profile {
	width: 500px;
	margin: auto;
}
table.persona-stats {
	width: 100%;
}
th {
	background-color: Crimson;
	color: black;
}
th a{
	color: black;
}
tr:nth-child(even) {
	background: #222
}
tr:nth-child(odd) {
	background: #000
}
h6 {
    text-align: center;
}
